.*
emacs.d/backups
emacs.d/bookmarks
emacs.d/custom.el
emacs.d/elpa/
emacs.d/eshell/
emacs.d/flycheck_init.el
emacs.d/history
emacs.d/projectile-bookmarks.eld
emacs.d/projectile.cache
emacs.d/request
emacs.d/tramp
emacs.d/url
i3/log
vim/.*
vim/bundle
