.*
vim/.*
vim/bundle
emacs.d/backups
emacs.d/elpa/
emacs.d/projectile-bookmarks.eld
emacs.d/projectile.cache
emacs.d/custom.el
emacs.d/history
emacs.d/eshell/
emacs.d/tramp
i3/log
emacs.d/url
emacs.d/bookmarks
